@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playfair+Display:wght@500;700;800;900&display=swap');

*
{
  box-sizing: border-box;
}

body, head
{
  margin: 0;
  padding: 0;
}

body
{
  background: $dark;
  color: $light;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
}

.container
{
  padding: 1em;
  @include media(">=phone") {
    padding: 1em;
    width: 100%;
    min-width: 100%;
  }
  @include media(">=tablet") {
    padding: 2em;
    width: 100%;
    min-width: 100%;
  }
  @include media(">=desktop") {
    width: 1366px;
    min-width: 1366px;
    margin: 0 auto;
    height: 100%;
  }
  @include media(">=LGdesktop") {
    width: 1920px;
    min-width: 1920px;
    margin: 0 auto;
    height: 100%;
  }

  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}